absl-py==0.13.0
atari-py==0.2.9
AutoROM==0.1.20
box2d-py==2.3.8
blackhc.mdp
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
cloudpickle==1.6.0
cvxpy==1.1.18
cycler==0.11.0
Cython==0.29.24
EasyProcess==0.3
ecos==2.0.7.post1
entrypoint2==0.2.4
fonttools==4.28.5
future==0.18.2
glfw==2.1.0
google-auth==1.35.0
google-auth-oauthlib==0.4.5
grpcio==1.39.0
gurobipy==9.5.0
gym==0.18.0
idna==3.2
imageio==2.9.0
importlib-metadata==4.6.4
kiwisolver==1.3.2
lockfile==0.12.2
Markdown==3.3.4
matplotlib==3.5.1
multi-agent-ale-py==0.1.11
nashpy==0.0.21
numpy==1.19.5
oauthlib==3.1.1
opencv-python==3.4.15.55
osqp==0.6.2.post5
packaging==21.3
patool==1.12
PettingZoo==1.18.1
Pillow==7.2.0
protobuf==3.17.3
PuLP==2.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygame==2.0.1
pyglet==1.5.0
pyparsing==3.0.6
python-dateutil==2.8.2
pyunpack==0.2.2
PyYAML==5.4.1
qdldl==0.1.5.post0
requests==2.26.0
requests-oauthlib==1.3.0
rlcard==1.0.4
rsa==4.7.2
scipy==1.5.4
scs==3.0.1
six==1.16.0
slimevolleygym==0.1.0
SuperSuit==3.4.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
torch==1.9.0
tqdm==4.62.1
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
zipp==3.5.0
